.detalle-registro-img-usuario {
	width: 120px;
	height: 120px;
	object-fit: cover;
}

.detalle-registro-img-edicion {
	width: 140px;
	height: 140px;
	object-fit: cover;
}

.detalle-registro-container {
	max-width: 600px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.detalle-registro-card {
	max-width: 600px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #e3e3e3;
	border-radius: 50px;
	border: none;
}

.detalle-registro-searchbar {
	width: 100%;
}