/*Transición para todos los hijos directos o no del body*/
body * {
	transition: all 0.3s ease;
}

/*Estilos para la sección de héroe*/
.hero-actions {
	width: 100%;
	position: relative;
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 160px 24px;
	box-sizing: border-box;
	text-align: center;
	font-size: 72px;
	color: #1e1e1e;
	font-family: Inter;
}

.text-content-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;
}

.title {
	align-self: stretch;
	position: relative;
	letter-spacing: -0.03em;
	line-height: 120%;
}

.subtitle {
	align-self: stretch;
	position: relative;
	font-size: 32px;
	line-height: 120%;
	color: #757575;
}

/*Estilos para la imágen*/
.section-icon {
	width: 100%;
	position: relative;
	max-width: 100%;
	overflow: hidden;
	height: 420px;
	object-fit: cover;
	object-position: 50% 100%;
}

/*Estilos para el grid de eventos*/
.grid-eventos {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 48px;
	text-align: left;
	font-size: 16px;
	color: #1e1e1e;
	font-family: Inter;
}

.search::-webkit-search-cancel-button:hover {
	cursor: pointer;
}

/*Estilos para el grid de las cartas*/
.card-grid {
	font-size: 24px;
	color: #1e1e1e;
	font-family: Inter;
}

.carta-evento {
	border-radius: 8px;
	border: 1px solid #d9d9d9;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 24px;
	font-size: large;
}

.carta-evento:hover {
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.list-group-item:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}

.text-heading {
	align-self: stretch;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.card-grid-text-heading {
	flex: 1;
	position: relative;
	letter-spacing: -0.02em;
	line-height: 120%;
	font-weight: 600;
}

.avatar-block {
	align-self: stretch;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 12px;
	font-size: 16px;
	color: #b3b3b3;
}

.avatar {
	width: 60px;
	height: 60px;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	flex-shrink: 0;
}

.shape-icon {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}

.info {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.description {
	align-self: stretch;
	position: relative;
	line-height: 140%;
}