.form-control {
	border-radius: 2rem !important;
}

body {
	margin: 0;
	padding: 0;
	font-family: Inter, sans-serif;
	display: flex;
	flex-direction: column;
}

h1 {
	margin: 0;
	text-align: center;
}

.contenedor-titulo {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-grow: 1;
	justify-content: center;
}

header nav {
	display: flex;
	gap: 10px;
}

button {
	flex: 1;
	border-radius: 8px;
	font-family: Inter;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.contenedor-BuscadorUsuario {
	align-items: center;
}

.buscadorUsuarios {
	display: flex;
	justify-content: center;
	margin: 30px;
}

.barraBusquedaUsuario {
	width: 400px;
	padding: 12px 20px;
	border: 2px solid #e3e3e3;
	;
	border-radius: 8px;
	font-size: 16px;
	font-family: Inter, sans-serif;
	outline: none;
}

.form-control:focus {
	border-color: #000 !important;
	box-shadow: none !important;
	border-width: 2px !important;
}

.user.row:hover {
	box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.card a {
	text-decoration: none;
	color: inherit;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	overflow: hidden;
	transition: box-shadow 0.2s;
}

.card a:hover {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
	text-decoration: none;
}

.contenedor-listadoUsuarios {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.listadoUsuarios {
	height: fit-content;
	margin-top: 20px;
}

.listadoUsuarios_itemUsuario {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #dddd;
	border-radius: 8px;
	background-color: #f9f9f9;
	width: fit-content;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.foto-usuario {
	border-radius: 40px;
}

.contenedor-foto {
	margin-left: 10px;
	margin-right: 15px;
}

.nickame {
	font-weight: bold;
	color: #000000;
}

.contenedorNickRolUsuario {
	display: flex;
	flex-direction: column;
	font-size: 24px;
}

.nickname:hover {
	text-decoration: underline;
}

.rol {
	color: #8d8989;
}

.boton {
	background-color: #e3e3e3;
	border: none;
}

.botonIniciarSesion {
	background-color: #e3e3e3;
	border: none;
}

.botonIniciarSesion:hover {
	background-color: #d9d9d9;
	border: none;
	cursor: pointer;
}

.header-button {
	position: relative;
	line-height: 100%;
}

.botonRegistrarse {
	background-color: #2c2c2c;
	border: none;
	color: #f5f5f5;
}

.botonRegistrarse:hover {
	background-color: #1e1e1e;
	border: none;
	cursor: pointer;
}